*{
  box-sizing: border-box;
}
a{
  color: black;
  text-decoration: none;
}
header{
  width: auto;
}
 .header-fixed{
  width: 1200px;
  margin: auto;
  height: 80px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  font-size: 0;
}
.logo{
  width: 241px;
}
.logo img{
  width: 100%;
}
 
.header-fixed .link a{
  display: inline-block;
  height: 80px;;
  padding: 10px;
}
.header-fixed .link div{
  font-size: 16px;
  line-height: 60px;
}
.header-fixed .link a:hover{
  background-color: #44D212;
}

/* footer */
footer{
  width: 1200px;
  background-color: #00406C;
  margin:auto;
}
.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px;
}
/* logo */
footer .logo{
  /* width: 241px; */
  width: 100%;
}
footer .logo img{
  width: 100%;
  vertical-align: top;
  margin-top: -10px;
}
footer .social{
  margin: 50px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .social i{
  width: 100%;
  vertical-align: top;
  color: white;
  font-size: 40px;
}
.footer i:hover{
  color: #00406C;
  background-color: #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

/* 參訪時間 */
.footer h6{
  font-size: 20px;
  display: inline-block;
  color: #fff;
}
.footer p{
  margin: 40px auto;
  color: #fff;
}
.footer .time a{
  background-color: #fff;
  border: 1px solid #00406C;
  display: inline-block;
  border-radius: 22px;
  padding: 5px 10px;
}
.footer .time a:hover{
  background-color: #00406C;
  border: 1px solid #00406C;
  color: #fff;
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 22px;
  padding: 5px 10px;
}

/* 聯絡方式 */

.footer span{
  display: inline-block;
  letter-spacing: .3em;
  margin-top: 5px;
}



.fa{
  display: block;
  color: #fff;
  text-align: center;
  letter-spacing: .3em;
  padding-bottom: 10px;
}
.footer .connect p:nth-child(4){
  margin-bottom: 0;

}