*{
  box-sizing: border-box;
}
a{
  color: black;
  text-decoration: none;
}
header{
  width: auto;
}
 .header-fixed{
  width: 1200px;
  margin: auto;
  height: 80px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  font-size: 0;
}
.logo{
  width: 241px;
}
.logo img{
  width: 100%;
}
 
.header-fixed .link a{
  display: inline-block;
  height: 80px;;
  padding: 10px;
}
.header-fixed .link div{
  font-size: 16px;
  line-height: 60px;
}
.header-fixed .link a:hover{
  background-color: #44D212;
}

/* footer */
footer{
  width: 1200px;
  background-color: #00406C;
  margin: auto;
}
.footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}
/* logo時間 */
footer .logo{
  width: 241px;
}
footer .logo img{
  width: 100%;
  vertical-align: top;
  margin: 50px auto;
}
footer .social{
  width: 241px;
  padding: 0 10px;

}
.footer .social a{
  display: inline-block;
  margin-right: 30.5px;
}

/* 參訪時間 */
.footer h4{
  font-size: 20px;
  display: inline-block;
  margin: 50px auto;
  color: #fff;
}
.footer p{
  margin-bottom: 50px;
  color: #fff;
}
.footer .time a{
  background-color: #44D212;
  display: inline-block;
  border-radius: 22px;
  padding: 5.71px 24.5px;
}
.footer .time a:hover{
  color: #44D212;
  border: 1px solid #44D212;
  background-color: #fff;
  font-weight: bold;
}


.footer span{
  letter-spacing: .3em;
  line-height: 30px;
}

.footer i{
  color: white;
  font-size: 40px;
}
.footer i:hover{
  color: #44D212;
}
.fa{
  display: block;
  color: #fff;
  text-align: center;

}