*{
  font-family: "Noto Sans Tc";
}
/* 輪輪播背景圖 */
.header_main{
  width: 1200px;
  margin: 0 auto;
}  
.header_main .txt{
  background-color: #fff;
  width: 417px;
  height: 255px;
  position: relative;
  top: 180px;
  left:50px;
  z-index: 1;
  text-align: center;
  padding: 27.4px;
}
.header_main h2{
  font-size: 24px;
  font-weight: bolder;
  margin: 27.4px;
}
.header_main p {
  line-height: 32px;
  font-size: 16px;
  margin: 27.4px;
}
.header_main a{
  display: inline-block;
  background-color: #44D212;
  font-size: 16px;
  width: 113px;
  height: 30px;
  line-height: 30px;
  border-radius: 22px;
}
.header_main a:hover{
  color: #44D212;
  border: 1px solid #44D212;
  background-color: #fff;
  font-weight: bold;
}


.background{
  width: 1200px;
  margin: auto;
  position: absolute;
  top: 80px;
  animation: go 12s linear infinite ;
  opacity: 0;
}
.background img{
  width: 100%;
}
@keyframes go {
  0%{ opacity: 1;}
  33%{ opacity: 1;}
  33.33333333%{ opacity: 0;}
}
.abb{
  animation-delay: 8s
}
.app{
  animation-delay: 4s
} 
.background :last-child{
  animation-delay: 0s
}
.space{
height: 400px;
}
/* 主內文 */
main{
  width: 1200px;
  margin: auto;
}
/* 宗旨 */

.purpose .backgroundImg{
  width: 1000px;
  /* background-color: aqua; */
  position: relative;
  margin: auto;
}
.purpose img{
  width: 100%;
}

.purpose .important div{
font-size: 30px;
background-color: #44D212;
writing-mode: vertical-lr;
text-align: center;
padding: 10px;
}

.purpose .important{
  width: 659px;
  text-align: center;
  margin: 50px auto;
  font-size: 18px 0;
  line-height: 32px;
  letter-spacing: 1px;
}
.purpose .important div:first-child{
  position: absolute;
  right: 46%;
  top: 14%;
}
.purpose .important div:nth-child(2){
  position: absolute;
  right: 40%;
  top: 8%;
}
.purpose .important div:nth-child(3){
  position: absolute;
  right: 34%;
  top: 2%;
}
.purpose .text{
  width: 300px;
  line-height: 32px;
  position: absolute;
  z-index: 1;
  top:10%;
  right: 0;
  text-align: left;
}
.purpose .text p{
  width: 300px;
  margin-bottom: 32px;
}
.purpose .text :nth-child(2){
  width: 280px;
  margin-bottom: 32px;
}
.purpose .text :nth-child(3){
  width: 260px;
}


/* 三欄圖文區 */
.introduce{
  width: 1200px;
  margin: auto;
}
.card{
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.introduce .photo{
  width: 600px;
  
}
.introduce .photo img{
  width: 100%;
  border-radius: 42px;
}

/* 文字區 */
.introduce .txt{
  width: 350px;
  padding: 30px 50px;
  border: 10px solid  rgb(37, 54, 66);
  border-left: none;
  border-radius: 42px;

}
.card h2{
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bolder;
}

.card p{
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 30px;
}

.card a{
  padding:7px 24.5px;
  background-color: #44D212;
  border-radius: 22px;
}
.card a:hover{
  color: #44D212;
  border: 1px solid #44D212;
  background-color: #fff;
  font-weight: bold;
}

/* people */
.introduce :nth-child(2){
  flex-direction: row-reverse;
}
.introduce .people{
  border-left: 10px solid rgb(37, 54, 66);
  border-right: none;
}



/* 志工聯絡 */

.item{
  width: 1200px;
  padding: 30px;
  margin: auto;
  background-color: rgba(50,100,135,50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.item div{
  padding: 25px;
  border: 2px solid white;
  width: 216px;
  height: 158px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.item div:hover{
  background-color:#fff;
  border: 2px solid #44D212;
} 

.item div i{
  color: #fff;
  font-size: 40px;
}

.item div:hover i{
  color: #44D212;
}

.item h3{
  color: #fff;
  line-height: 32px;
  font-weight: bolder;
  font-size: 20px;
}
.item div:hover h3{
  color: #44D212;
}

.item p{
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}
.item div:hover p{
  color: #44D212;
}













