*{
    box-sizing: border-box;
    font-family: "Noto Sans Tc";
}
h3{
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    background-color: #fff;
    -webkit-text-stroke: 1px black;
    color: #44D212;
    margin: 20px;
    text-align: center;
}
:root{
    --column-count: 2;
}

main{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
  
  /* 服務對象 */
h4{
    font-size: 30px;
    width: 83.3333%;
    margin: auto;

}
.servicePeople{
    background-color: #D9D9D9;
    width: 100%;
    margin: auto;
    padding: 40px 0;
    position: relative;
}
.servicePeople div:first-child{
    display: flex;
    flex-wrap: wrap;
}
.servicePeople .contain{
    margin: 10px;
    --column-count: 2;
    background-color: #fff;
    /* W、h: 250px; */
    width: calc(100%/var(--column-count) - 20px);
    height: 0;
    padding-bottom: calc(100%/var(--column-count) - 20px);
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    position: relative;
  }
  .servicePeople p{
    width: 80%;
    line-height: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
  } 
  .title h4{
    position: relative;
    left: 15%;
    margin-top: 2%;
}
  .title h4::after{
    display: inline-block;
    content: "";
    border-top: 20px solid black;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    /* left: -110px; */
    left: 7.1%;
    bottom: -100%;
}

  

@media screen and (min-width:768px) {
    .servicePeople .contain{
        --column-count: 4;
      }
    .servicePeople p{
        font-size: 16px;
    }
}

@media screen and (min-width:1024px) {
    .servicePeople{
        background-color: rgba(256, 256, 256, 0);
        background-image: url(pic/service/bg3.png);
        background-repeat:no-repeat;
        width: 100%;
        height: 5500px;
        margin: auto;
    }
    .servicePeople .contain{
        --column-count: 6;
      }
      .servicePeople p{
        font-size: 16px;
    }
}



.servicePeople p{
    width: 80%;
    line-height: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  } 
  
  .service_people .title{
     position: relative;
  }
  .service_people .title p{
    width: 150px;
    margin-left: 50%;
    margin-top: 50px;
    font-size: 24px;
  }
  .service_people .title p::after{
    content: "";
    border-top: 30px solid white;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    position: absolute;
    top: 120%;
    left: 72.5%;
  }
  
  /* 服務內容 */
  .service_activity{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  
  }
  .service_activity .card{
      width: 258px;
  }
  .service_activity .card div:first-child img{
      width: 100%;
      vertical-align: top;
  }
  .service_activity .card div:nth-child(2){
  
    text-align: center;
    position: relative;
  }
  .service_activity .card h4{
      background-color: #00406C;
      color: #fff;
      width: 100px;
      line-height: 2;
      border-radius: 22px;
      position: absolute;
      top: -15px;
      left: 0;
      right: 0;
      margin: auto;
  }
  .service_activity .card p{
    padding: 15px;
    line-height: 2;
  }
  
  .service_activity .card p::after{
    content: '';
    display: block;
    border-bottom: 15px solid #00406C;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: absolute;
    width: 0;
    left: 0;
    right: 0;
    margin: auto;
    top: -25px;
  }
  
  /* 客人心得 */
  .experience{
    background-image: url(pic/service/bg\ _2.png);
    background-repeat:no-repeat;
    width: 1200px;
    padding-top: 25px;
  }
  .experience div:first-child{
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
  }
  .experience div:first-child div:first-child{
    background-color: #fff;
    width: 440px;
    height: 195px;
    border-radius: 100%;
    margin-left: 175px;
    position: relative;
  }
  .experience div:first-child div:first-child p{
      display: inline-block;
      width: 344px;
      line-height: 32px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
  }
  .experience div:first-child div:first-child span{
    display: inline-block;
    text-align: end;
    width: 344px;
  }
  .experience .title{
      position: relative;
      left: 160px;
  }
  .experience .title p {
    font-size: 24px;
  }
  .experience .title p::after{
    content: '';
    width: 0;
    height: 0;
    border-top: 20px solid #00406C;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translateX(-50%);
  }
  .experience > div:nth-child(2){
      font-size: 0;
  }
  .experience img{
    display: inline-block;
    width: 105px;
    vertical-align: bottom;
    margin-left: 0;
    font-size: 16px;
  }
  .experience img + img{
      margin-left: 114px;
  } 